<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
        }
        .test{
              background-image: url("img_tree.gif"), url("paper.gif");
                background-repeat: no-repeat, repeat;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <div class="test"  >
            <h1>{{appName}}</h1>
        <p>Please click the link below to confirm your email address:</p>
            <a href="#">Confirm email</a>
    </div>

    
</body>
</html>
